# **Infrastructure as Code**

In [1]:
import boto3
import configparser
import json
import pandas as pd
import psycopg2

In [54]:
config = configparser.ConfigParser()
config.read_file(open('/home/wilson/Data_Engineering_NanoDegree/AWS_Keys/dwh.cfg'))

# Access AWS
KEY = config.get('AWS','KEY') 
SECRET = config.get('AWS','SECRET') 

# DATA WARE HOUSE Confi
# Cluster
CLUSTER_TYPE = config.get('CLUSTER','CLUSTER_TYPE')
NUM_NODES = config.get('CLUSTER','NUM_NODES')
NODE_TYPE = config.get('CLUSTER','NODE_TYPE')

IAM_ROLE_NAME = config.get('CLUSTER','IAM_ROLE_NAME')
CLUSTER_IDENTIFIER = config.get('CLUSTER','CLUSTER_IDENTIFIER')

HOST = config.get('CLUSTER','host')
DB_NAME = config.get('CLUSTER','DB_NAME')
DB_USER = config.get('CLUSTER','DB_USER')
DB_PASSWORD = config.get('CLUSTER','DB_PASSWORD')
DB_PORT = config.get('CLUSTER','DB_PORT')

# IAM_ROLE 
ARN = config.get('IAM_ROLE','ARN')

# S3
LOG_DATA = config.get('S3','LOG_DATA')
LOG_JSONPATH = config.get('S3','LOG_JSONPATH')
SONG_DATA = config.get('S3','SONG_DATA')
SONG_JSONPATH = config.get('S3','SONG_JSONPATH')

In [34]:
# Clients for EC2, S3, IAM, RedShift
ec2 = boto3.resource('ec2',
                    region_name='us-west-2',
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                  region_name='us-west-2',
                  aws_access_key_id=KEY,
                  aws_secret_access_key=SECRET)

iam = boto3.client('iam',
                  region_name='us-west-2',
                  aws_access_key_id=KEY,
                  aws_secret_access_key=SECRET)

redshift = boto3.client('redshift',
                  region_name='us-west-2',
                  aws_access_key_id=KEY,
                  aws_secret_access_key=SECRET)

In [104]:
try:
    s3.create_bucket(Bucket='wilson-dend-dwproject',
                 CreateBucketConfiguration={'LocationConstraint': 'us-west-2'})
except:
    pass

s3.meta.client.upload_file('./SONG_JSONPATH.json', 'wilson-dend-dwproject','song_json_path.json')

In [56]:
# Check Data Set on S3
print(SONG_DATA)
print(LOG_DATA)
print(LOG_JSONPATH)
print(SONG_JSONPATH)

s3://udacity-dend/song-data
s3://udacity-dend/log-data
s3://udacity-dend/log_json_path.json
s3://wilson-dend-dwproject/song_json_path.json

In [53]:
source_bucket = s3.Bucket('wilson-dend-dwproject')
for obj in source_bucket.objects.all():
    print(obj.key)

song_json_path.json

In [5]:
source_bucket = s3.Bucket('udacity-dend')
for obj in source_bucket.objects.filter(Prefix='song-data/A/A/A/TRAAAY'):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAYL128F4271A5B.json')

In [6]:
for obj in source_bucket.objects.filter(Prefix='log-data/2018/11/2018-11-01'):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-01-events.json')

## Create IAM role for Reshift to access S3

In [81]:
# Create the IAM role for Redshift to access S3
try:
    print('Creating a new IAM Role')
    dwhRole = iam.create_role(Path='/',
                             RoleName=IAM_ROLE_NAME,
                             Description = "Allows Redshift clusters to call AWS services on your behalf.",
                             AssumeRolePolicyDocument=json.dumps(
                             {'Statement': [{'Action': 'sts:AssumeRole',
                                            'Effect': 'Allow',
                                            'Principal': {'Service': 'redshift.amazonaws.com'}}],
                             'Version':'2012-10-17'}))
    

except Exception as e:
    print(e)

Creating a new IAM Role

In [82]:
# Attach Policy to IAM Role
iam.attach_role_policy(RoleName = IAM_ROLE_NAME,
                      PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")['ResponseMetadata']['HTTPStatusCode']

200

In [83]:
# Get IAM role Arn
roleArn = iam.get_role(RoleName = IAM_ROLE_NAME)['Role']['Arn']
print(roleArn)

arn:aws:iam::475103112026:role/dwhRole

## Create Redshift Cluster

In [84]:
try:
    response = redshift.create_cluster(        
        # parameters for hardware
        ClusterType=CLUSTER_TYPE,
        NodeType=NODE_TYPE,
        NumberOfNodes=int(NUM_NODES),

        # parameters for identifiers & credentials
        DBName=DB_NAME,
        ClusterIdentifier=CLUSTER_IDENTIFIER,
        MasterUsername=DB_USER,
        MasterUserPassword=DB_PASSWORD,
        
        # parameter for role (to allow s3 access)
        IamRoles=[roleArn]
    )
except Exception as e:
    print(e)

In [95]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cmyptj7fsclo.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-8cef5bf4
7,NumberOfNodes,4

## Notes for ARN and DB ENDPOINT

In [25]:
ENDPOINT = myClusterProps['Endpoint']['Address']
ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", ENDPOINT)
print("DWH_ROLE_ARN :: ", ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.cmyptj7fsclo.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::475103112026:role/dwhRole

In [77]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

InvalidClusterStateFault: An error occurred (InvalidClusterState) when calling the DeleteCluster operation: There is an operation running on the Cluster. Please try to delete it at a later time.

In [78]:
# Delete IAM role
iam.detach_role_policy(RoleName=IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName = IAM_ROLE_NAME)

{'ResponseMetadata': {'RequestId': '4163bc22-9971-11e9-ba31-51c4e4fb1518',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '4163bc22-9971-11e9-ba31-51c4e4fb1518',
   'content-type': 'text/xml',
   'content-length': '200',
   'date': 'Fri, 28 Jun 2019 06:52:11 GMT'},
  'RetryAttempts': 0}}

## RedShift Interface

In [100]:
try:
    conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(HOST,DB_NAME,DB_USER,DB_PASSWORD,DB_PORT))
    cur = conn.cursor()
    conn.set_session(autocommit=True)
except psycopg2.Error as e: 
    print(e)

In [101]:
stl_load_errors_cols = ['userid','slice','tbl','starttime','session','query','filename','line_number','colname','type','col_length','position','raw_line','raw_field_value','err_code','err_reason'
]

In [102]:
query = "SELECT * FROM stl_load_errors"
cur.execute(query)
row = cur.fetchall()

In [103]:
pd.DataFrame(row,columns=stl_load_errors_cols)

,userid,slice,tbl,starttime,session,query,filename,line_number,colname,type,col_length,position,raw_line,raw_field_value,err_code,err_reason
0,100,2,100413,2019-06-28 15:57:36.344045,17441,11,s3://udacity-dend/song-data/A/A/A/TRAAAUC128F428716F.json,1,artist_longitude,float8,0,0,"{""song_id"": ""SOKTJDS12AF72A25E5"", ""num_songs"": 1, ""title"": ""Drown In My Own Tears (24-Bit Digitally Remastered 04)"", ""artist_name"": ""The Smithereens"", ""artist_latitude"": 40.57885, ""year"": 0, ""duration"": 192.522, ""artist_id"": ""ARA23XO1187B9AF18F"", ""artist_longitude"": -74.21956, ""artist_location"": ""Carteret, New Jersey""}",,1207,"Invalid digit, Value 'C', Pos 0, Type: Double"
1,100,3,100413,2019-06-28 15:57:36.344045,17441,11,s3://udacity-dend/song-data/A/A/A/TRAAAAV128F421A322.json,1,artist_longitude,float8,0,0,"{""song_id"": ""SOQPWCR12A6D4FB2A3"", ""num_songs"": 1, ""title"": ""A Poor Recipe For Civic Cohesion"", ""artist_name"": ""Western Addiction"", ""artist_latitude"": 37.77916, ""year"": 2005, ""duration"": 118.07302, ""artist_id"": ""AR73AIO1187B9AD57B"", ""artist_longitude"": -122.42005, ""artist_location"": ""San Francisco, CA""}",,1207,"Invalid digit, Value 'S', Pos 0, Type: Double"
2,100,3,100459,2019-06-28 16:07:50.376221,18331,83,s3://udacity-dend/song-data/B/K/O/TRBKOTN128F425A38C.json,1,artist_location,varchar,256,0,"{""song_id"": ""SOCCKQH12A8AE476C3"", ""num_songs"": 1, ""title"": ""Born Never Asked"", ""artist_name"": ""Spiritualized;Jason;Jason - Dulcimer/;Kate Radley - Vox continental/Farfisa/Tones/Drones/Tremeloes/;Sean Cook - Wha-monica/;Mark Refoy;Jon Mattock;Icon Hunt;Stuart Gordon;Balanescu Quartet;Rico;Rico - Tam Tam/;Bammie;Tim Sanders;Roddy Lorimar;Steve Sidwell;Chris Sharrack;Caroline Crawley;Marilyn McFarlane;Helen White"", ""artist_latitude"": null, ""year"": 0, ""duration"": 125.20444, ""artist_id"": ""ARVHQMD1269FB25AE7"", ""artist_longitude"": null, ""artist_location"": """"}",,1204,String length exceeds DDL length
3,100,4,100413,2019-06-28 15:57:36.344045,17441,11,s3://udacity-dend/song-data/A/A/A/TRAAAJN128F428E437.json,1,artist_longitude,float8,0,0,"{""song_id"": ""SOBRKGM12A8C139EF6"", ""num_songs"": 1, ""title"": ""Welcome to the Pleasuredome"", ""artist_name"": ""Frankie Goes To Hollywood"", ""artist_latitude"": null, ""year"": 1985, ""duration"": 821.05424, ""artist_id"": ""ARXQBR11187B98A2CC"", ""artist_longitude"": null, ""artist_location"": ""Liverpool, England""}",,1207,"Invalid digit, Value 'L', Pos 0, Type: Double"
4,100,5,100413,2019-06-28 15:57:36.344045,17441,11,s3://udacity-dend/song-data/A/A/A/TRAAABD128F429CF47.json,1,artist_longitude,float8,0,0,"{""song_id"": ""SOCIWDW12A8C13D406"", ""num_songs"": 1, ""title"": ""Soul Deep"", ""artist_name"": ""The Box Tops"", ""artist_latitude"": 35.14968, ""year"": 1969, ""duration"": 148.03546, ""artist_id"": ""ARMJAGH1187FB546F3"", ""artist_longitude"": -90.04892, ""artist_location"": ""Memphis, TN""}",,1207,"Invalid digit, Value 'M', Pos 0, Type: Double"
5,100,4,100459,2019-06-28 16:07:50.376221,18331,83,s3://udacity-dend/song-data/C/A/R/TRCARJQ128F425A389.json,1,artist_location,varchar,256,0,"{""song_id"": ""SOLAUEC12A8AE476BB"", ""num_songs"": 1, ""title"": ""Medication"", ""artist_name"": ""Spiritualized;Jason;Jason - Dulcimer/;Kate Radley - Vox continental/Farfisa/Tones/Drones/Tremeloes/;Sean Cook - Wha-monica/;Mark Refoy;Jon Mattock;Icon Hunt;Stuart Gordon;Balanescu Quartet;Rico;Rico - Tam Tam/;Bammie;Tim Sanders;Roddy Lorimar;Steve Sidwell;Chris Sharrack;Caroline Crawley;Marilyn McFarlane;Helen White"", ""artist_latitude"": null, ""year"": 0, ""duration"": 498.72934, ""artist_id"": ""ARVHQMD1269FB25AE7"", ""artist_longitude"": null, ""artist_location"": """"}",,1204,String length exceeds DDL length
6,100,0,100413,2019-06-28 15:57:36.344045,17441,11,s3://udacity-dend/song-data/A/A/A/TRAAAEA128F935A30D.json,1,artist_longitude,float8,0,0,"{""song_id"": ""SOEKAZG12AB018837E"", ""num_songs"": 1, ""title"": ""I'll Slap Your Face (Entertainment USA Theme)"", ""artist_name"": ""Jonathan King"", ""artist_latitude"": 51.50632, ""year"": 2001, ""duration"": 129.85424, ""artist_id"": ""ARSVTNL1187B992A91"", ""artist_longitude"": -0.12714, ""artist_location"": ""London, England""}",,1207,"Invalid digit, Value 'L', Pos 0, Type: Double"
7,100,1,100413,2019-06-28 15:57:36.344045,17441,11,s3://udacity-dend/song-data/A/A/A/TRAAANK128F428B515.json,1,artist_longitude,float8,0,0,"{""song_id"": ""SOSMJFC12A8C13DE0C"", ""num_songs"": 1, ""title"": ""Is That All There Is?"", ""artist_name"": ""Cristina"", ""artist_latitude"": 34.05349, ""year"": 0, ""duration"": 343.87546, ""artist_id"": ""AR1KTV21187B9ACD72"", ""artist_longitude"": -118.24532, ""artist_location"": ""California - LA""}",,1207,"Invalid digit, Value 'C', Pos 0, Type: Double"
8,100,0,100459,2019-06-28 16:07:50.376221,18331,83,s3://udacity-dend/song-data/C/W/V/TRCWVDW128F425A38A.json,1,artist_location,varchar,256,0,"{""song_id"": ""SOORTJE12A8AE476BD"", ""num_songs"": 1, ""title"": ""Electric Phase"", ""artist_name"": ""Spiritualized;Jason;Jason - Dulcimer/;Kate Radley - Vox continental/Farfisa/Tones/Drones/Tremeloes/;Sean Cook - Wha-monica/;Mark Refoy;Jon Mattock;Icon Hunt;Stuart Gordon;Balanescu Quartet;Rico;Rico - Tam Tam/;Bammie;Tim Sanders;Roddy Lorimar;Steve Sidwell;Chris Sharrack;Caroline Crawley;Marilyn McFarlane;Helen White"", ""artist_latitude"": null, ""year"": 0, ""duration"": 93.75302, ""artist_id"": ""ARVHQMD1269FB25AE7"", ""artist_longitude"": null, ""artist_location"": """"}",,1204,String length exceeds DDL length
9,100,6,100413,2019-06-28 15:57:36.344045,17441,11,s3://udacity-dend/song-data/A/A/A/TRAAACN128F9355673.json,1,artist_longitude,float8,0,0,"{""song_id"": ""SOFRDWL12A58A7CEF7"", ""num_songs"": 1, ""title"": ""Hit Da Scene"", ""artist_name"": ""Quest_ Pup_ Kevo"", ""artist_latitude"": null, ""year"": 0, ""duration"": 252.94322, ""artist_id"": ""AR9Q9YC1187FB5609B"", ""artist_longitude"": null, ""artist_location"": ""New Jersey""}",,1207,"Invalid digit, Value 'N', Pos 0, Type: Double"
10,100,7,100413,2019-06-28 15:57:36.344045,17441,11,s3://udacity-dend/song-data/A/A/A/TRAAAYL128F4271A5B.json,1,artist_longitude,float8,0,0,"{""song_id"": ""SOIGHOD12A8C13B5A1"", ""num_songs"": 1, ""title"": ""Indian Angel"", ""artist_name"": ""Talkdemonic"", ""artist_latitude"": 45.51179, ""year"": 2004, ""duration"": 171.57179, ""artist_id"": ""ARY589G1187B9A9F4E"", ""artist_longitude"": -122.67563, ""artist_location"": ""Portland, OR""}",,1207,"Invalid digit, Value 'P', Pos 0, Type: Double"
11,100,7,100459,2019-06-28 16:07:50.376221,18331,83,s3://udacity-dend/song-data/A/Y/F/TRAYFUW128F428F618.json,1,artist_longitude,varchar,256,0,"{""song_id"": ""SORMAXQ12A8C139224"", ""num_songs"": 1, ""title"": ""Landmines"", ""artist_name"": ""St. Vincent"", ""artist_latitude"": 19.40904, ""year"": 2007, ""duration"": 307.53914, ""artist_id"": ""AR0JBXL1187FB52810"", ""artist_longitude"": -99.14977, ""artist_location"": ""ORDER &#039;ACTOR&#039; ON INSOUND: <a href=\\""http://www.insound.com/search/searchmain.jsp?query=st.+vincent+actor\\"" target=\\""_blank\\"" rel=\\""nofollow\\"" onmousedown='UntrustedLink.bootstrap($(this), \\""\\"", event)'>http://www.insound.com/search/searchmain.jsp?query=st.+vincent+actor</a>""}",,1204,String length exceeds DDL length

**Roll UP** How many Songs is played in each month in 2018?

In [ ]:
query = """
SELECT COUNT(*)
FROM songPlay p JOIN dimTime t ON p.start_date = t.start_date
GROUP BY t.month
having t.year = 2018
LIMIT 10"""

cur.execute(query)
row = cur.fetchall()
print(row)

**Drill Down** How many song is played in 2018 July's each week?

In [ ]:
query = """
SELECT COUNT(*)
FROM songPlay p JOIN dimTime t ON p.start_date = t.start_date
GROUP BY t.week
HAVING t.year = 2018 AND t.month = 7
LIMIT 10"""
cur.execute(query)
row = cur.fetchall()
print(row)

**Slicing** How many femals are free users?

In [ ]:
query = """
SELECT COUNT(*)
FROM songPlay p JOIN dimUser u ON p.user_id = u.user_id
WHERE u.gender = 'M' AND u.level = 'free'
LIMIT 10"""
cur.execute(query)
row = cur.fetchall()
print(row)

**Dicing** Which song has been listened the most times during Summer(June - August)?

In [ ]:
query = """
SELECT COUNT(*)
FROM songPlay p JOIN dimTime t ON p.start_date = t.start_date
GROUP BY p.song_id
HAVING t.month in (6,7,8)
LIMIT 10"""
cur.execute(query)
row = cur.fetchall()
print(row)

In [16]:
query = """
SELECT COUNT(*)
FROM staging_events"""
cur.execute(query)
row = cur.fetchall()
print(row)

[(8056,)]